<header class="container">
  <div class="header-logo">
    <a routerLink=""><img src="../../assets/logo.svg" alt="original.io"></a>
  </div>
  <div class="menu">
    <div class="menu-sign">
      <ul>
        <li>Entrar</li>
        <li>|</li>
        <li>Cadastrar-se</li>
      </ul>
    </div>

    <div class="menu-nav">
      <nav>
        <ul class="menu-nav__list">
          <li class="menu-nav__item">Sapatos</li>
          <li class="menu-nav__item">Bolsas</li>
          <li class="menu-nav__item">Acessórios</li>
          <li class="menu-nav__item">Off</li>
        </ul>
      </nav>
    </div>

    <div class="menu-right">
      <div class="search">
        <img src="../../assets/icons/Union.svg" alt="Search">
        <input type="text" placeholder="Busca">
      </div>

      <div class="cart">
        <img src="../../assets/icons/cart.svg" alt="Cart">
        <span>0</span>
      </div>
    </div>
  </div>
</header>