<header>
  <div class="navbar">
    <div class="container navbar-content" [class.active]="openMenu">
      <button id="btn-mobile" aria-label="Abrir menu" aria-haspopup="true" aria-expanded="false"
        (click)="menuMobile($event)"></button>

      <a class="logo" routerLink=""><img src="../../assets/logo.svg" alt="original.io"></a>


      <div class="auth">
        <ul class="auth__list">
          <li>Entrar</li>
          <li>|</li>
          <li>Cadastrar-se</li>
        </ul>
      </div>

      <div class="menu">
        <nav>
          <ul class="menu__list" (click)="menuMobile($event)">
            <li class="menu__item" routerLinkActive="active">
              <a routerLink="sapatos"> Sapatos</a>
              
            </li>
            <li class="menu__item" routerLinkActive="active">
              <a routerLink="bolsas">Bolsas</a>
            </li>
            <li class="menu__item" routerLinkActive="active">
              <a routerLink="acessorios">Acessórios</a>
            </li>
            <li class="menu__item" routerLinkActive="active">
              <a routerLink="off">Off</a>
            </li>
          </ul>
        </nav>
      </div>

      <div class="right">
        <div class="search">
          <img src="../../assets/icons/Union.svg" alt="Search">
          <input type="text" placeholder="Busca">
        </div>

        <div class="cart">
          <img src="../../assets/icons/cart.svg" alt="Cart">
          <span>0</span>
        </div>
      </div>
    </div>    
  </div>
  <div class="container">
    home {{ currentRoute }}
    
  </div>

 
</header>


