@use "../../assets/scss/variables" as var;
@use "../../assets/scss/mixins";

.navbar {
  padding: 25px 0;

  &-content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    #btn-mobile {
      background: none;
      border: none;
      border-top: 3px solid #000;
      width: 30px;
      cursor: pointer;

      &:after,
      &:before {
        content: "";
        display: block;
        width: 30px;
        height: 3px;
        background: #000;
        margin-top: 7px;
        transition: 0.5s;
      }
    }

    .auth {
      display: none;
      &__list {
        display: flex;

        li:nth-child(odd) {
          color: var.$primary;
          font-weight: 700;
          cursor: pointer;

          &:hover {
            transition: 0.5s;
            color: #000;
          }
        }

        li:nth-child(2) {
          margin: 0 15px;
        }
      }
    }

    .menu {
      display: none;

      &__item {
        margin: 40px 0;
        text-transform: uppercase;

        a {
          padding: 20px 0;
        }

        &.active {
          color: var.$primary;
          font-weight: bold;
        }

        &:hover {
          transition: 0.5s;
          color: var.$primary;
          cursor: pointer;
        }
      }
    }

    .right {
      display: flex;

      .search {
        display: flex;
        margin-right: 20px;

        input {
          display: none;
        }
      }
    }

    &:after {
      content: "";
      display: block;
      position: fixed;
      top: 89px;
      left: 0;
      visibility: hidden;
      overflow: hidden;
      width: 0;
      background: #ebebeb;
      height: 100vh;
      transition: 0.4s;
      z-index: 100;
    }

    &.active {
      &:after {
        visibility: visible;
        width: 100%;
      }

      #btn-mobile {
        border-top: none;

        &::after {
          position: relative;
          top: -10px;
          transform: rotate(-135deg);
        }
        &::before {
          transform: rotate(135deg);
        }
      }

      .auth,
      .menu {
        display: block;
        position: absolute;
        z-index: 101;
      }

      .auth {
        top: 130px;
      }

      .menu {
        top: 160px;
      }
    }
  }
}

@include mixins.for-medium-screen {
  .navbar {
    border-bottom: 1px solid #cccccc;

    &-content {
      display: grid;
      row-gap: 50px;
      color: var.$menu-color;

      &:before {
        content: "";
        position: absolute;
        left: 0;
        display: block;
        width: 100vw;
        height: 1px;
        background: #ccc;
      }

      //clear mobile menu

      &:after {
        display: none;
      }

      &.active {
        .menu,
        .auth {
          position: static;
        }
      }

      //--//

      .logo {
        grid-column: 1 / 4;
        text-align: center;
      }

      #btn-mobile {
        display: none;
      }

      .auth,
      .menu {
        display: block;
      }

      .auth {
        &__list {
          li:nth-child(odd) {
            color: inherit;
            font-weight: normal;
          }
        }
      }

      .menu {
        &__list {
          display: flex;
        }

        &__item {
          margin: 0;
          margin-left: 40px;

          &:first-child {
            margin: 0;
          }
        }
      }

      .right {
        .search {
          border-bottom: 1px solid rgba(104, 104, 104, 0.4);

          input {
            display: block;
            border: none;
            outline: none;
            margin-left: 15px;
            width: 60px;
            font-size: 18px;
            transition: 0.5s;

            &:focus {
              width: 120px;
            }
          }
        }
      }
    }
  }
}
