<div class="product">
  <h2 class="product__title">{{ product.title }}</h2>
  <p class="product__code">{{ product.code }}</p>

  <div class="slider">
    <img src="{{ product.images[0].url }}" alt="Imagem do produto">
  </div>

  <div class="colors">
    <p>Cor: <span>{{ colorName }}</span></p>

    <div class="colors-box">
      <input type="radio"
      *ngFor="let color of product.colors"  
      name="color"
      [style.background]="color.hex" 
      [value]="color.name"
      [(ngModel)]="colorName"
      class="colors--circle">      
    </div>

  </div>

  <div class="sizes">
    <p>Tamanho: <span>{{ sizeNumber }}</span></p>
    
    <div class="sizes-box">
      <div *ngFor="let size of product.sizes" class="sizes--number" (click)="getSize(size)">
        <span>{{ size }}</span>        
      </div>
    </div>
  </div>
  
  
</div>