@use "../../../assets/scss/variables" as var;

.product {
  &__title,
  &__code {
    text-align: center;
  }

  &__title {
    color: var.$primary;
    text-transform: uppercase;
    font-weight: 400;
  }

  &__code {
    color: var.$legend-color;
    margin: 10px 0;
  }

  .slider {
    text-align: center;
    img {
      width: 80%;
    }
  }

  .colors {
    padding: 15px 0;

    span {
      color: #5f75aa;
    }

    &-box {
      display: flex;
      margin-top: 10px;

      input[type="radio"] {
        -webkit-appearance: none;
        width: 22px;
        height: 22px;
        border-radius: 20px;
        margin-right: 10px;
        transition: .5s;

        &:checked:before {
          border: 2px solid  #DE8F75;
          content: "";
          display: block;
          width: 28px;
          height: 28px;
          opacity: .7;
          transform: translate3d(-5px, -5px, -5px);
          border-radius: 50%;
          
        }
      }
    }
  }

  .sizes {
    &-box {
      display: flex;
      margin-top: 10px;
      gap: 5px;
    }

    &--number {
      border: 1px solid #ebebeb;
      padding: 6px;
      color: var.$size-color;

      &.active {
        background: #e29d86;
        color: #fff;
      }
    }
  }
}
